# fly.toml app configuration file generated for ashworld-floral-glade-3124 on 2024-02-17T17:02:31+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ashworld'
primary_region = 'syd'
kill_signal = 'SIGTERM'

[build]

[deploy]

[env]
  DATABASE_PATH = '/mnt/ashworld/ashworld.db'
  PHX_HOST = 'ashworld.fly.dev'
  PORT = '8080'

[mounts]
  source = 'ashworld'
  destination = '/mnt/ashworld'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
